{% extends "pages/login__base.html" %}
{% block title %}
login
{% endblock %}
{% block main %}
<div class="login-body">
<div class="text-center pt-4">
    <a href="{% url 'category:index' %}" class="btn btn-light"><b>Trang Chủ</b></a>
</div>
<main>
        <div class="">
        <form id="login_form" class="form_class" action="." method="POST">
            {% csrf_token%}
            <div class="form_div">
                <label>Tài Khoản:</label>
                <input class="field_class" name="login_txt" type="text" placeholder="Nhập tên đăng nhập" autofocus>
                <label>Mật Khẩu:</label>
                <input id="pass" class="field_class" name="password_txt" type="password" placeholder="Nhập mật khẩu">
                <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Đăng Nhập</button>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="nav-link pt-3 text-center" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="info_div">
                <p>Quên mật khẩu ? <a href="/account/register">Tạo tài khoản !</a></p>
            </div>
        </form>
        </div>
    </main>
    </div>
{% endblock%}