{% extends "pages/login__base.html" %}
{% block title %}
login
{% endblock %}
{% block main %}
<div class="login-body">
<div class="text-center pt-4">
    <a href="{% url 'category:index' %}" class="btn btn-light"><b>Trang Chủ</b></a>
</div>
<div class="">
    <main class="main mt-1">
        <form id="login_form" class="form_class" action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form_div">
                <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Tạo tài khoản</button>
            </div>
            <div class="info_div">
                <p><a href="/account/login">Quay lại trang đăng nhập !</a></p>
            </div>
        </form>
    </main>
</div>
</div>
{% endblock%}