{% extends "pages/base.html" %}
{% load static %}
{% block main %}
    <div class="bread-crumb">
        <div class="container">
            <div class="row">
                <div class="mt-2" style="-bs-breadcrumb-divider: '&gt;&gt;';"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Trang chủ</li>
                        <li class="breadcrumb-item active text-primary" aria-current="page">Giỏ hàng</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div id="gio-hang">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title">
                    <h3 class="ten-gio-hang">
                        Giỏ hàng của bạn có <span class="sp-anna">0</span> sản phẩm
                    </h3>
                </div>
                <div class="col-sm-12 gio-hang-noi-dung mt-3 ">
                    
                    <div class="gh-table">
                        <div class="product-form">
                            <table class="table table-light table-bordered border-primary table-responsive mb-2">
                                <thead>
                                    <tr>
                                        <th scope="col" class="ct">Ảnh sản phẩm</th>
                                        <th scope="col" class="ct">Tên sản phẩm</th>
                                        <th scope="col" class="ct">Đơn giá</th>
                                        <th scope="col" class="ct">Số lượng</th>
                                        <th scope="col" class="ct">Thành tiền</th>
                                        <th scope="col" class="ct">Xoá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                   
                                </tbody>
                        </table>
                    
                    </div>
                    </div>
                </div>
                <div class="card-submit row mt-4">
                    <div class="col-sm-12">
                        <div class="total">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="text-end">
                                        <span>Tổng tiền: </span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="tong-tien">
                                        <span id="thanh-tien-hihi" class="fw-bold text-primary pe-4">

                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="check-out mt-4">
                            <div class="text-end">
                                <a class="btn btn-secondary text-uppercase fs-6" href="./home">
                                    Tiếp tục mua hàng
                                </a>
                                <a class="btn btn-primary text-uppercase fs-6" href="./checkOut">
                                    Thực hiện thanh toán
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock  %}

{% block add_script %}
    <script>
            var elementTableCard = document.querySelector('#gio-hang tbody');

const loadDataApiPrd = async (id, quantity) => {
    let dataCategories = await getDataAPI(`http://localhost:8000/api/product/${id}`);
    if (dataCategories == null) {
        alert('Sự cố kết nối đến api');
        return;
    }
    if (dataCategories.err_code == 0) {
        convertToTr(dataCategories.data, quantity);
    } else {
        alert(`Lỗi: ${dataCategories.err_msg}`);
    }
}

const convertToTr = (prd, quantity) => {
    const wrapper = document.createElement('tr')
    wrapper.innerHTML = [
        `<tr>
        <td class="ct">
            <div class="anh-sp spp">
                <a href="Products/Details/${prd.id}" class="img-sp" title="${prd.name}">
                    <img src="${prd.image}" alt="${prd.name}">
                </a>
            </div>
        </td>
        <td>
            <div class="ten-sp spp">
                <h2 class="product-name">
                    <a href="Products/Details/${prd.id}" title="${prd.name}">
                        ${prd.name}
                    </a>
                </h2>
            </div>
        </td>
        <td class="ct">
            <div class="dongia-sp spp">
                <span class="gia prd-price-${prd.id}-a">${prd.price}₫</span>
            </div>
        </td>
        <td class="ct">
            <div class="soluong-sp spp">
                <div class="input-number d-inline-block clearfix">
                    <button class="btn-num" onclick="giamSL('${prd.id}')" type="button">-</button>
                    <input class="outline-none inp-quan" data-id-product="${prd.id}" type="text" id="qtymb-${prd.id}" name="quantity" value="${quantity}" class="form-control prd_quantity">
                    <button class="btn-num" onclick="tangSL('${prd.id}')" type="button">+</button>
                </div>
            </div>
        </td>
        <td class="ct">
            <div class="thanhtien-sp spp">
                <span class="gia prd-price-${prd.id}">${prd.price * quantity}₫</span>
            </div>
        </td>
        <td class="ct">
            <div class="xoa-sp spp">
                <a class="remove-item" onclick="delPrd(this)">
                    <span>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </td>
    </tr>`
    ].join('');
    elementTableCard.appendChild(wrapper);

}

const loadCard = async () => {
    let dataCard = JSON.parse(localStorage.getItem('dataCard'));
    if (!dataCard) dataCard = [];
    document.querySelector('.sp-anna').innerText = dataCard.length;
    dataCard.forEach(async itemPrd => {
        await loadDataApiPrd(itemPrd.idPrd, itemPrd.quantityPrd);
    }, elementTableCard);
    calcTotalPrice();
}

function giamSL(id) {
    let result = document.getElementById(`qtymb-${id}`);
    let qtypro = result.value;
    let giaGoc = document.querySelector(`.prd-price-${id}-a`).innerText.replaceAll('₫', '');
    let thanhtien = document.querySelector(`.prd-price-${id}`);
    if (!isNaN(qtypro) || qtypro > 1) {
        result.value--;
        thanhtien.innerText = `${parseInt(giaGoc) * parseInt(result.value)}₫`;
        calcTotalPrice();
        updateCardLocal();
    }
    return false;
}
function tangSL(id) {
    let result = document.getElementById(`qtymb-${id}`);
    let qtypro = result.value;
    let giaGoc = document.querySelector(`.prd-price-${id}-a`).innerText.replaceAll('₫', '');
    let thanhtien = document.querySelector(`.prd-price-${id}`);
    if (!isNaN(qtypro)) {
        result.value++;
        thanhtien.innerText = `${parseInt(giaGoc) * parseInt(result.value)}₫`;
        calcTotalPrice();
        updateCardLocal();
    }
    return false;
}
function delPrd(a) {
    a.parentNode.parentNode.parentNode.remove();
    calcTotalPrice();
    updateCardLocal();
}

// tính tổng tiền
function calcTotalPrice() {
    let elmTr = document.querySelectorAll('.thanhtien-sp .gia');
    let totalPrice = 0;
    elmTr.forEach(element => {
        totalPrice += parseInt(element.innerText);
    }, totalPrice);
    document.getElementById('thanh-tien-hihi').innerText = `${totalPrice}₫`
}

// cập nhật vào db
function updateCardLocal() {
    dataCard = JSON.parse(localStorage.getItem('dataCard'));
    dataCard = [];
    let elmTr = document.querySelectorAll('input.inp-quan');
    elmTr.forEach(element => {
        let idPrd = parseInt(element.getAttribute('data-id-product'));
        let quantityPrd = parseInt(element.value);
        dataCard.push({
            idPrd: parseInt(idPrd),
            quantityPrd: parseInt(quantityPrd),
        });
    }, dataCard);
    localStorage.setItem('dataCard', JSON.stringify(dataCard));

}
// đặt đơn




$(document).ready(function () {
    loadCard();
});
    </script>
{% endblock %}