{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
    {% endblock %}</title>
    {% include "pages/styles.html" %}
</head>
<body class="hold-transition sidebar-mini text-sm sidebar-collapse">
    <div class="wrapper">
        <div class="content-wrapper">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    {% include "pages/script.html" %}
</body>
</html>
