{% extends "pages/base.html" %}
{% load static %}
	{% block main %}
	<div class="bread-crumb">
		<div class="container">
			<div class="row">
				<div class="mt-2" style="-bs-breadcrumb-divider: '&gt;&gt;';"
					aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Trang chủ</li>
						<li class="breadcrumb-item">{{ product.category.name }}</li>
						<li class="breadcrumb-item active text-primary" aria-current="page">{{ product.name }}</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb -->

	<!-- contents -->
	<div class="contents">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="row">
						<div class="product-img col-12 col-sm-6 col-md-6 col-lg-6">
							<div id="slider" class="owl-carousel product-slider">
									<div class="item">
										<a href="@Html.DisplayFor(modelItem => item.Url)">
											<img class="img-fluid" src="@Html.DisplayFor(modelItem => item.Url)"
											alt="@Html.DisplayFor(model => model.NameP)">
										</a>
									</div>
							</div>
							<div id="thumb" class="owl-carousel product-thumb">
									<div class="item">
										<a href="#">
											<img class="img-fluid" src="@Html.DisplayFor(modelItem => item.Url)"
											alt="@Html.DisplayFor(model => model.NameP)">
										</a>
									</div>
							</div>
						</div>
						<!-- end img left -->
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 product-info">
							<h1 class="title-product text-primary">{{ product.name }}</h1>
							<div class="product-status">
								<span class="status-title"> Danh Mục: <span class="status-name text-primary">{{ product.category.name }}</span>
								</span> <span> | </span> <span class="status-title"> Tình trạng:
									<span class="status-name text-primary">Còn hàng</span>
								</span>
							</div>
							<div class="product-review">
								<span class="active"> <i class="fa fa-star-o"
									aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
								</span> <span class="active"> <i class="fa fa-star"
									aria-hidden="true"></i> <i class="fa fa-star-o"
									aria-hidden="true"></i>
								</span> <span class="active"> <i class="fa fa-star"
									aria-hidden="true"></i> <i class="fa fa-star-o"
									aria-hidden="true"></i>
								</span> <span class="deactive"> <i class="fa fa-star"
									aria-hidden="true"></i> <i class="fa fa-star-o"
									aria-hidden="true"></i>
								</span> <span class="deactive"> <i class="fa fa-star"
									aria-hidden="true"></i> <i class="fa fa-star-o"
									aria-hidden="true"></i>
								</span> <small class="text-secondary">(9 đánh giá)</small>
							</div>
							<div class="product-price">
								<span>{{ product.price }}₫</span>
							</div>
							<div class="product-detail">
								<ul>
									<li class="nav-link">{{ product.created }}</li>
									<li class="nav-link">{{ product.updated }}</li>
									</ul>
							</div>
							<div class="product-form mt-3">
									<div class="col-auto">
										<div class="input-number d-inline-block clearfix">
											<button class="btn-num qtyminus"
												type="button">-</button>
											<input class="outline-none" type="text" id="qtym"
												name="quantity" value="1"
												class="form-control prd_quantity">
											<button class="btn-num qtyplus"
												type="button">+</button>
										</div>
									</div>
									<div class="col-auto">
										<div class="input-submit d-inline-block">
											<input class="hidden" type="hidden" name="productID"
												value="@Model.Id">
											<button class="btn btn-buy bg-primary">
												<span class="btn-img"> <img class="img-fliud"
													src="{% static 'assets/img/shopping_cart.png'%}" alt="">
												</span> <span class="btn-content text-white">Cho vào giỏ hàng</span>
											</button>
										</div>
									</div>
							</div>
							<div class="contacts">
								<span>Hotline: <a class="text-decoration-none fw-bold"
									href="#">0865914142</a>
								</span>
							</div>
							<div class="share-icon mt-2">
								<span>Chia sẻ: <a class="icon" href="#"> <i
										class="fa fa-facebook"></i>
								</a> <a class="icon" href="#"> <i class="fa fa-twitter"></i>
								</a> <a class="icon" href="#"> <i class="fa fa-pinterest"></i>
								</a> <a class="icon" href="#"> <i class="fa fa-google-plus"></i>
								</a>
								</span>
							</div>
						</div>
					</div>
					<div class="mt-5 product-detail border">
						<div class="rte">
							{{ product.descr }}
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="right-contents mb-5">
						<div class="dich-vu">
							<ul class="list-group border border-primary">
								<li class="list-group-item">
									<div class="row align-items-center">
										<div class="col-3">
											<img class="img-icon-center img-fluid"
												src="{% static 'assets/img/shiper.png'%}" alt="">
										</div>
										<div class="col-9">
											<p class="text-primary fw-bold mb-0 py-0">Giao hàng tận
												nơi</p>
											<span class="text-secondary">Cam kết giao hàng tận nhà</span>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row align-items-center">
										<div class="col-3">
											<img class="img-icon-center img-fluid"
												src="{% static 'assets/img/change.png'%}" alt="">
										</div>
										<div class="col-9">
											<p class="text-primary fw-bold mb-0 py-0">Đổi trả nhanh
												chóng</p>
											<span class="text-secondary">Đổi trả trong 7 ngày đầu
												tiên</span>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row align-items-center">
										<div class="col-3">
											<img class="img-icon-center img-fluid"
												src="{% static 'assets/img/pay.png'%}" alt="">
										</div>
										<div class="col-9">
											<p class="text-primary fw-bold mb-0 py-0">Bảo hành chính
												hãng</p>
											<span class="text-secondary">Cam kết 100% chính hãng</span>
										</div>
									</div>

								</li>
								<li class="list-group-item">
									<div class="row align-items-center">
										<div class="col-3">
											<img class="img-icon-center img-fluid"
												src="{% static 'assets/img/phone.png'%}" alt="">
										</div>
										<div class="col-9">
											<p class="text-primary fw-bold mb-0 py-0">Đặt hàng online</p>
											<span class="text-secondary">Gọi ngay 0975581779</span>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row align-items-center">
										<div class="col-3">
											<img class="img-icon-center img-fluid"
												src="{% static 'assets/img/saving.png' %}" alt="">
										</div>
										<div class="col-9">
											<p class="text-primary fw-bold mb-0 py-0">Mua hàng tiết
												kiệm</p>
											<span class="text-secondary">Giảm giá ưu đãi tới hơn
												50%</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="product-new mt-4">
							<ul class="list-group">
								<li class="list-group-item active">
									<h2 class="mb-0 text-uppercase fs-6">Hàng mới về</h2>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-md-5 my-2 img-product-new">
											<img class="img-fluid"
												src="{% static 'img/{{ product.image }}" alt="">
										</div>
										<div class="col-md-7 my-2 info-product-new">
											<h3 class="product-title">
												<a class="text-decoration-none"
												href="{% url 'category:detail' product.id %}">{{ product.name }}</a>
											</h3>
											<div class="product-review">
												<span class="active"> <i class="fa fa-star-o"
													aria-hidden="true"></i> <i class="fa fa-star"
													aria-hidden="true"></i>
												</span> <span class="active"> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i>
												</span> <span class="active"> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i>
												</span> <span class="deactive"> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i>
												</span> <span class="deactive"> <i class="fa fa-star"
													aria-hidden="true"></i> <i class="fa fa-star-o"
													aria-hidden="true"></i>
												</span>
											</div>
											<span class="price">{{ product.price }}₫</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contents -->
		<!-- @name -->
		<div id="product-new" class="@name mt-5">
			<div class="container-md">
				<div class="row">
					<div class="col ">
						<div class="border">
							<span class="icon_tags d-inline-block bg-primary p-3 text-white">
								<i class="fa fa-tags" aria-hidden="true"></i>
							</span>
							<h2 class="title text-uppercase d-inline-block ms-3"><a href="./san-pham-moi">Sản phẩm mới</a></h2>
							
						</div>
						
						<div class="border-top-0 border">
							
							<div class="row">
								<div class="owl-carousel owl-theme">
								{% if listView %}
                                                        {% for product in listView.productList %}
									<div class="item">
										<div class="card h-100 product">
												<a href="{% url 'category:detail' product.id %}" class="product-url">
													<img src="{% static 'img/{{ product.image }}' %}" alt="">
											</a>
											<div class="card-body product-info">
												<h3 class="product-name text-truncate ">
													<a class="text-decoration-none text-primary"
												href="{% url 'category:detail' product.id %}">{{ product.name }}</a>
												</h3>
												<div class="product-price">
													<span class="text-primary fw-bold">{{ product.price }}₫</span>
												</div>
												<div class="review">
													<span class="active"><i class="fa fa-star" aria-hidden="true"></i></span>
													<span class="active"><i class="fa fa-star" aria-hidden="true"></i></span>
													<span class="active"><i class="fa fa-star" aria-hidden="true"></i></span>
													<span class="deactive"><i class="fa fa-star" aria-hidden="true"></i></span>
													<span class="deactive"><i class="fa fa-star" aria-hidden="true"></i>
													<small class="text-secondary">(9 đánh giá)</small></span>
												</div>
											</div>
										</div>
									</div>
														{% endfor %}
                                                        {% else %}
                                                            <p>No polls are available.</p>
                                                        {% endif %}
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock  %}