{% load static %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown nav-user-menu">
            <a href="javascript:void(0);" class="nav-link" data-toggle="dropdown" role="button">
                <img class="user-image img-circle elevation-2" style="width: 60px;" src="{% static 'lib/dist/img/avatar5.png'%}" alt="User Image">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" >
                    <i class="fas fa-user-edit"></i> Cập nhật mật khẩu
                </a>
                <a class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i> Đăng Xuất
                </a>
            </div>
        </li>
    </ul>
