{% load static %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        {% include "adminn/sidebar__logo.html" %}
        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{% static 'lib/dist/img/avatar5.png'%}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a class="d-block" href="javascript:void(0);">Admin</a>
                </div>
            </div>
        <nav class="mt-2">
        
        </nav>
        </div>
    </aside>
